button {
	width: 10%;
	height: 40px;
	margin: 30px 0 60px 45%;
	background: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
    transition: All 0.5s ease;
}
button:hover {
    background-color: #ff3434;
}