.testimonial {
	width: 80%;
	padding-top: 50px;
	margin: 0 auto;
}

.testimonial__item {
	width: 33%;
	float:left;
	
	& &__text-block {
		width: 65%;
		margin-bottom:20px;
		padding: 20px 20px 20px 10px;
		background-color: #f5f5f5;
		border-radius: 5px;
		font-style: italic;

		
	}

	& &__name {
		font-size: 20px;
		font-weight: bold;
		color: #333333;
	}

}

.testimonial__item {
	.avatar {
		width:75%;
		float: right;
	}
}

.testimonial__item__text-block {
	&::after {
			content: '';
			position: relative; 
    		left: 10px; 
    		bottom: -50px; 
    		border: 15px solid transparent; 
    		border-top: 17px solid #f5f5f5;
		}
}