@import 'button';
@import 'testimonial';
$font-raleway: 'Raleway', sans-serif;



body, 
div {
	margin:0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', "Arial", sans-serif;
	font-size: 14px;
	color: #86878b;
}

h2,
p,
section {
	margin:0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.clearfix {
	&:after {
  		content: "";
  		display: table;
  		clear: both;
    }
}

.text {
	text-transform:uppercase;
}

h2 {
	font-family: $font-raleway;
	font-size: 36px;
	text-align: center;
	padding-bottom: 20px;
}

.testimonials {
	h2 {
		padding-top: 100px;
		color: #000000;
	}

	& &__underline {
		border-color: #ff8b38;
	}
}

.custom {
	margin-top: 90px;
	background-color: #000000;
	background: url(../img/background.png) no-repeat;
	background-size:cover;

	h2 {
		padding-top: 65px;
		color: #ffffff;
	}

	& &__subtitle {
		font-family: $font-raleway;
		color: #c7c5c3;
		font-weight: 400;
		font-size: 16px;
	}

	& &__line {
		border-color: #ffffff;
	}
}

.subtitle {
	text-align: center;
	padding-top: 30px;
}

.line {
	display: inline-block;
	width: 5%;
	margin-left: 47.5%;
	border-bottom: 2px solid;
}
